body {
  background-color: gray;
  text-align: center;
  background-image: url("../img/000001_1631761288.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
h1 {
  color: cyan;
  font-size: 150%;
}
.p1 {
  text-align: center;
  color: aqua;
}
.p2 {
  text-align: center;
  color: blue;
}
/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  /* padding: 20px;*/
}

/* Style the list inside the menu */
/*nav ul {
  list-style-type: none;
  padding: 0;
}*/

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  /*padding: 10px;*/
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
.side {
  flex: 30%;
  background-color: lightgreen;
}
.side > .side_img {
  flex: 30%;
}
.side > .side_statements {
  flex: 20%;
  background-color: lightgreen;
}

.article {
  flex: 70%;
  /*padding: 20px; */
  /*width:70%; */
  font-size: 1vw;
  background-color: #f1f1f1;
  /*height:300px; */
}
